<p id='paragraph1' onclick="this.style.backgroundColor='#990000'"> Paragraph 1 </p>

<p id='the-paragraph' onclick="#paragraph1.style.backgroundColor='#990000'"> Paragraph </p>
<img src="http://franktorres.org/wp-content/uploads/2014/04/Box.jpg" id='the-img'>

<script>
$('#the-paragraph').click( function() {
  $('#the-img').hide();
});
</script>