<h1>Editing User #<%= @user.id %></h1>

<form action="/users/<%= @user.id %>/update">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" value="<%= @user.name  %>" type="text" />
  </div>
  <div>
    <label for="old_password">old password</label><br />
    <input id="old_password" name="old_password" type="text" />
  </div>
  <div>
    <label for="password">password</label><br />
    <input id="password" name="password" type="text" />
  </div>
  <div>
    <label for="password_confirmation">password_confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>



