<h1>New Day</h1>

<form action="/create_day">
  <div>
    <label for="date">date</label><br />
    <input id="date" name="date" type="text" />
  </div>
  <div>
    <label for="weekday">weekday</label><br />
    <input id="weekday" name="weekday" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

