<h1>New Goal</h1>

<form action="/create_goal">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="category_id">category_id</label><br />
    <input id="category_id" name="category_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

