<h1>New Goal</h1>

<form action="/create_goal">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="category_id">category</label><br />
    <select name="category_id">
      <% Category.all.each do |category| %>
      <option value="<%= category.id %>"> <%= category.name %> </option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="desc">description</label><br />
    <input id="desc" name="desc" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

