<h1>New Category</h1>

<form action="/create_category">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="color">color</label><br />
    <input id="color" name="color" type="color" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

